@use "../../variables" as *;

.button {
  background-color: $black;
  width: 200px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  text-decoration: none;
  transition: ease 0.2s;
  font-size: $fontsize-s;

  &:hover {
    background-color: $orange_bistre;
    color: $white;
  }

  @media screen and (max-width: $breakpoint-lg) {
    width: 150px;
  }
  @media screen and (max-width: $breakpoint-md) {
    width: 180px;
    height: 45px;
  }
}
